*{
    font-family:"Montserrat", sans-serif;
    background-color: wheat;
    font-size: 15px;
    color: rgb(114, 54, 252);
    font-weight: bolder;
}

.horizontal{
    list-style-type: none; 
    color: rgb(255,255,255);
    padding: 0; 
    margin: 0; 
    display: flex;
    background-color: rgb(112, 0, 240);
    
}

.horizontal li {
    background-color: rgb(112, 0, 240);
    margin-right: 20px;
    font-weight: bold; 
    padding: 10px; 
    display: block; 
}

.horizontal li:last-child {
    background-color: rgb(112, 0, 240);
    margin-right: 20px;
    font-weight: bold; 
    padding: 10px; 
    display: block; 
}

.navDiv{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(112, 0, 240);
}

body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.divImg{
    align-items: center;
    justify-content: center;
    width: 30vw;
}
.MainDiv {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.divTitle{
   font-weight: 900px;
   
}

.divTitle a{
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    padding: 0px; 
}

.divTitle a:hover{
    color: purple; 
}

.horizontal a {
    text-decoration: none; 
    background-color: rgb(112, 0, 240);
    color: white; 
    font-weight: bold; 
    padding: 10px; 

}

.horizontal a:hover {
    color: yellow; 
}

.gallery {
    display: table-column;
    gap: 10px; 
    margin-top: 20px;
}

.gallery img {
    width: 30vw; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}
